<h2>{{title}}</h2>
<div class="question-edit">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="text">Question text:</label>
            <br />
            <textarea id="text" [ngClass]="{' is-invalid invalid-feedback d-inline-block ' : hasError('Text')}"
                      formControlName="Text" required
                      placeholder="enter a suitable text..." class="form-control">

            </textarea>
            <div *ngIf="hasError('Text')" class="invalid-feedback d-inline-block">
                Text is a required field: please insert a valid text.
            </div>
        </div>
        <div>
            <button *ngIf="editMode" type="submit"
                    [disabled]="form.invalid"
                    class="btn btn-success">
                Apply Changes
            </button>
            <button *ngIf="!editMode" type="submit"
                    [disabled]="form.invalid"
                    class="btn btn-sm btn-primary">
                Create the Question!
            </button>
            <button type="submit"
                    (click)="onBack()"
                    class="btn btn-sm btn-default">
                Cancel
            </button>
        </div>

        <answer-list *ngIf="editMode" [question]="question"></answer-list>
    </form>
</div>

<div class="card panel bg-info"
     style="margin-top: 20px;">
    <div class="card-header">Form debug info</div>
    <div class="card-body bg-light">
        <p><strong>Form value:</strong></p>
        <div class="form-text text-info">
            {{ form.value | json }}
        </div>
        <p><strong>Form status:</strong></p>
        <div class="form-text text-info">
            {{ form.status | json }}
        </div>
        <p><strong>Form activity log:</strong></p>
        <div class="form-text text-info">
            <span *ngIf="activityLog"
                  [innerHTML]="activityLog"></span>
        </div>
    </div>
</div>